:root{
    --bgg-color: #FFFFFF; 
    --box-bgg-color: #E4E4E4;
    --txt-color: #2B2B2B; 
    --detail-color: #79BA00; 
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a:link{
    text-decoration: none;
    color: var(--txt-color);
}

a:visited{
    text-decoration: none;
    color: var(--txt-color);
}

.arrangement-filter {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.event, .film, .litteratur, .musik{
    margin: 15px;
    background-color: var(--detail-color);
    padding: 8px;
}

.event-logo, .film-logo, .litteratur-logo, .musik-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    max-width: 35px;

}

.oversigt{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    background-color: var(--detail-color);
    text-decoration: underline;
}

.nav-dato, .nav-titel, .nav-kategori, .nav-sted, .nav-pris{
  margin: 18px;   
}

.arrangement1, .arrangement2, .arrangement3, .arrangement4, .arrangement5, .arrangement6, .arrangement7 {
    display: flex;
    margin: 30px;
    background-color: var(--box-bgg-color);
    justify-content: space-between;
    border-radius: 8px;
    
}

.titel{
    color: var(--detail-color);
}

.dato, .titel, .kategori, .sted, .pris{
    margin: 20px;
    
}


.flex-container {
    display: flex;
    padding-right: 70px;
    padding-left: 0px;
  }
  
.flex-container > div {
    color: var(--txt-color);
    width: auto;
    margin: 10px;
    font-size: 20px;
    margin-left: 40px;
}


.tilmeld {
    border: none;
    color: #2B2B2B;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    background-color:#79BA00;
    margin: 100px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.lille{
    color: var(--txt-color);
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
}
.green{
    color: var(--detail-color);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
}
.brødtekst{
    color: var(--txt-color);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 13px;
    padding-bottom: 28px;
}
.stor{
    font-size: 30px;
    color: var(--txt-color);
    font-family: Arial, Helvetica, sans-serif;
}
.andre{
    font-size: 30px;
    padding-left: 40px;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.andre-begivenheder{
    display: flex;
    padding-bottom: 40px;
}
      
.andre-begivenheder > div {
    background-color: var(--box-bgg-color);
    color: var(--txt-color);
    width: 400px;
    margin: 10px;
    text-align: center;
}


.logo {
    width: 100%;
    height: auto;
    max-width: 150px;
    margin-bottom: 10px;
      
  }

footer{
    padding-top: 50px;
}

.foot-box{
    color: var(--txt-color);
    background-color: var(--box-bgg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box1, .box2, .box3, .box4 {
    margin: 50px;
    list-style: none;
    
}


@media screen and (min-width: 720px) {

    .foot-box{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}