:root{
    --bgg-color: #FFFFFF; 
    --box-bgg-color: #E4E4E4;
    --txt-color: #2B2B2B; 
    --detail-color: #79BA00; 
}

*{
    margin: 0;
    padding: 0;
}

a:link{
    text-decoration: none;
    color: var(--txt-color);
}

a:visited{
    text-decoration: none;
    color: var(--txt-color);
}

.oversigt{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    background-color: var(--detail-color);
    text-decoration: underline;
}

.nav-dato, .nav-titel, .nav-kategori, .nav-sted, .nav-pris{
  margin: 20px;   
}

.arrangement1, .arrangement2, .arrangement3, .arrangement4, .arrangement5, .arrangement6, .arrangement7 {
    display: flex;
    margin: 30px;
    background-color: var(--box-bgg-color);
    justify-content: space-between;
    
}

.titel{
    color: var(--detail-color);
}

.dato, .titel, .kategori, .sted, .pris{
    margin: 20px;
    
}


.flex-container {
    display: flex;
  }
  
  .flex-container > div {
    color: var(--txt-color);
    width: auto;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
  }

.logo {
    width: 100%;
    height: auto;
    max-width: 150px;
    margin-bottom: 10px;
      
  }

.foot-box{
    color: var(--txt-color);
    background-color: var(--box-bgg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box1, .box2, .box3, .box4 {
    margin: 30px;
    list-style: none;
    
}



@media screen and (min-width: 720px) {

    .foot-box{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}